In [302]:
import pandas as pd 
import numpy as np
import collections 

import fileinput 
from nltk.tokenize import sent_tokenize
from nltk.tokenize import word_tokenize

import fileinput

import string

In [303]:
with open('firstname_list.txt') as f:
    firstname = f.read().split()

with open('name_list.txt') as f:
    name = f.read().split()

In [304]:
# create a list with all the unique characters' first name, last name and nick names as entries 
# brackets around the nicknames are removed and all the other punctuations
allnames = list(set(firstname + name))
for i in range(len(allnames)):
    for c in string.punctuation:
        allnames[i]= allnames[i].replace(c," ")

In [346]:
len(allnames), type(allnames)

(332, list)

In [374]:
# f = open('book_1.txt').read()
# # print(type(f))
# sentences = sent_tokenize(f.decode('utf8'))
# selected_sentence = [sent for sent in sentences if 'Dumbledore' in word_tokenize(sent)]

<type 'str'>

In [371]:
# allnames = ['Harry','Lily','James','Ron']
# f = open('book_1.txt').read()
# sentences = sent_tokenize(f.decode('utf-8'))
# sentences2 = []
# for x in sentences:
#     sentences2.append(x.encode("utf-8"))
# alll = {}
# for name in allnames:
#     alll[name] = []
#     selected_sentence = [sent for sent in sentences2 if name in word_tokenize(sent.decode("utf-8"))]
#     alll[name].append(selected_sentence)

In [461]:
# read the novel sentence by sentence, wherer the sentences are seperated by line space and usual 
# punctuations like ".","?","!" are used to identify a sentence 
f = open('book_1.txt').read()
tokenizer = nltk.data.load('tokenizers/punkt/english.pickle')
data = f.decode('utf8')
sentences = '\n \n'.join(tokenizer.tokenize(data))
sentences = sentences.encode("utf8")

In [443]:
# save the sentence by sentence read txt as a new file called sentences
with open("sentences.txt", "wb") as f:
    f.write(sentences)

In [444]:
# read the newly saved file as a list of sentences 
sentences = []
with open('sentences.txt', 'r') as f:
    for line in f:
        sentences.append(line.strip())

In [462]:
# word co-occurrence matrix 
allnames = ['Harry','Lily','James','Ron']
dict = {}
for x in allnames:
    for y in allnames:
        dict[x] = [0]*len(allnames)
        for y in allnames:
            with open('sentences.txt', 'r') as f:
                for line in f:
                    if x in line and y in line:
                        dict[x][allnames.index(y)] += 1

In [460]:
m= pd.DataFrame(dict)
print m

   Harry  James  Lily  Ron
0   1271      1     1  153
1      1      5     6    0
2      1      5     5    0
3    153      0     0  445

In [457]:
print dict

{'James': [1, 5, 5, 0], 'Lily': [1, 6, 5, 0], 'Ron': [153, 0, 0, 445], 'Harry': [1271, 1, 1, 153]}

In [6]:
def calculate_cooccurrence(data):
    """Return a dictionary of Counter objects with the cooccurence count.

    Co-occurence counts how many times a particular element is in the 
    same line as another element across the full data set."""
        
    result = collections.defaultdict(collections.Counter)

    for line in data:
        for char in line:
            result[char].update([c for c in line if c is not char])
    return result

In [7]:
# Uncle Vernon entered the kitchen as Harry was turning over the bacon.
# “Now what?” said Aunt Petunia, looking furiously at Harry as though he’d planned this. 
# This is Harry Potter an’ Hermione Granger, by the way.

In [375]:
sentences = []
with open('book_1.txt','r') as f:
    for line in f:
        sentences.append(line)

In [9]:
for i in range(len(sentences)):
    for c in string.punctuation:
        sentences[i]= sentences[i].replace(c,"")

In [379]:
print sentences[344]
# type(sentences)

Harry groaned.

In [387]:
sentence1 = 'This is Harry Potter an’ Hermione Granger, by the way'.split()
sentence2 = 'Uncle Vernon entered the kitchen as Harry was turning over the bacon.'.split()

<type 'list'>

In [390]:
data = [sentence1,sentence2]
m = calculate_cooccurrence(data)
type(m)

collections.defaultdict

In [389]:
m = pd.DataFrame(m)
m

,"Granger,",Harry,Hermione,Potter,This,Uncle,Vernon,an’,as,bacon.,by,entered,is,kitchen,over,the,turning,was,way
"Granger,",NaN,1,1,1,1,NaN,NaN,1,NaN,NaN,1,NaN,1,NaN,NaN,1,NaN,NaN,1
Harry,1,NaN,1,1,1,1,1,1,1,1,1,1,1,1,1,3,1,1,1
Hermione,1,1,NaN,1,1,NaN,NaN,1,NaN,NaN,1,NaN,1,NaN,NaN,1,NaN,NaN,1
Potter,1,1,1,NaN,1,NaN,NaN,1,NaN,NaN,1,NaN,1,NaN,NaN,1,NaN,NaN,1
This,1,1,1,1,NaN,NaN,NaN,1,NaN,NaN,1,NaN,1,NaN,NaN,1,NaN,NaN,1
Uncle,NaN,1,NaN,NaN,NaN,NaN,1,NaN,1,1,NaN,1,NaN,1,1,2,1,1,NaN
Vernon,NaN,1,NaN,NaN,NaN,1,NaN,NaN,1,1,NaN,1,NaN,1,1,2,1,1,NaN
an’,1,1,1,1,1,NaN,NaN,NaN,NaN,NaN,1,NaN,1,NaN,NaN,1,NaN,NaN,1
as,NaN,1,NaN,NaN,NaN,1,1,NaN,NaN,1,NaN,1,NaN,1,1,2,1,1,NaN
bacon.,NaN,1,NaN,NaN,NaN,1,1,NaN,1,NaN,NaN,1,NaN,1,1,2,1,1,NaN
by,1,1,1,1,1,NaN,NaN,1,NaN,NaN,NaN,NaN,1,NaN,NaN,1,NaN,NaN,1
entered,NaN,1,NaN,NaN,NaN,1,1,NaN,1,1,NaN,NaN,NaN,1,1,2,1,1,NaN
is,1,1,1,1,1,NaN,NaN,1,NaN,NaN,1,NaN,NaN,NaN,NaN,1,NaN,NaN,1
kitchen,NaN,1,NaN,NaN,NaN,1,1,NaN,1,1,NaN,1,NaN,NaN,1,2,1,1,NaN
over,NaN,1,NaN,NaN,NaN,1,1,NaN,1,1,NaN,1,NaN,1,NaN,2,1,1,NaN
the,1,3,1,1,1,2,2,1,2,2,1,2,1,2,2,2,2,2,1
turning,NaN,1,NaN,NaN,NaN,1,1,NaN,1,1,NaN,1,NaN,1,1,2,NaN,1,NaN
was,NaN,1,NaN,NaN,NaN,1,1,NaN,1,1,NaN,1,NaN,1,1,2,1,NaN,NaN
way,1,1,1,1,1,NaN,NaN,1,NaN,NaN,1,NaN,1,NaN,NaN,1,NaN,NaN,NaN

In [91]:
data = [['w1','w4','w2','w3'],['w4','w5','w6']]
m = calculate_cooccurrence(data)
m

defaultdict(collections.Counter,
            {'w1': Counter({'w2': 1, 'w3': 1, 'w4': 1}),
             'w2': Counter({'w1': 1, 'w3': 1, 'w4': 1}),
             'w3': Counter({'w1': 1, 'w2': 1, 'w4': 1}),
             'w4': Counter({'w1': 1, 'w2': 1, 'w3': 1, 'w5': 1, 'w6': 1}),
             'w5': Counter({'w4': 1, 'w6': 1}),
             'w6': Counter({'w4': 1, 'w5': 1})})

In [92]:
m = pd.DataFrame(m)
m

    w1  w2  w3  w4  w5  w6
w1 NaN   1   1   1 NaN NaN
w2   1 NaN   1   1 NaN NaN
w3   1   1 NaN   1 NaN NaN
w4   1   1   1 NaN   1   1
w5 NaN NaN NaN   1 NaN   1
w6 NaN NaN NaN   1   1 NaN

In [71]:
# # word co-occurrence
# from collections import defaultdict
# def cooccurrence_matrix_corpus(corpus):
#     matrix = defaultdict(lambda: defaultdict(int))
    
#     for corpora in corpus:
#         for i in xrange(len(corpora)):
#             for j in xrange(i, len(corpora)):
#                 word1,word2 = [corpora[i],corpora[j]]
#                 matrix[word1][word2] += 1
#                 matrix[word2][word1] += 1
#     return matrix

In [81]:
# corpus = [['w1','w4','w2','w3'],['w4', 'w5','w6']]
# ccm = cooccurrence_matrix_corpus(corpus)
# ccm

defaultdict(<function __main__.<lambda>>,
            {'w1': defaultdict(int, {'w1': 2, 'w2': 1, 'w3': 1, 'w4': 1}),
             'w2': defaultdict(int, {'w1': 1, 'w2': 2, 'w3': 1, 'w4': 1}),
             'w3': defaultdict(int, {'w1': 1, 'w2': 1, 'w3': 2, 'w4': 1}),
             'w4': defaultdict(int,
                         {'w1': 1,
                          'w2': 1,
                          'w3': 1,
                          'w4': 4,
                          'w5': 1,
                          'w6': 1}),
             'w5': defaultdict(int, {'w4': 1, 'w5': 2, 'w6': 1}),
             'w6': defaultdict(int, {'w4': 1, 'w5': 1, 'w6': 2})})

In [82]:
b = pd.DataFrame(ccm)

In [83]:
print type(b)
b

<class 'pandas.core.frame.DataFrame'>

    w1  w2  w3  w4  w5  w6
w1   2   1   1   1 NaN NaN
w2   1   2   1   1 NaN NaN
w3   1   1   2   1 NaN NaN
w4   1   1   1   4   1   1
w5 NaN NaN NaN   1   2   1
w6 NaN NaN NaN   1   1   2

In [36]:
a = pd.DataFrame({'1': {'3': 0, '2': 1, '5': 1, '4': 0, '6': 29},
                  '3': {'1': 0, '2': 0, '5': 0, '4': 1, '6': 1},
                  '2': {'1': 13, '3': 1, '5': 21, '4': 0, '6': 0},
                  '5': {'1': 39, '3': 0, '2': 1, '4': 0, '6': 14},
                  '4': {'1': 1, '3': 1, '2': 17, '5': 2, '6': 0},
                  '6': {'1': 0, '3': 43, '2': 0, '5': 0, '4': 1}})

In [37]:
a

    1   2   3   4   5   6
1 NaN  13   0   1  39   0
2   1 NaN   0  17   1   0
3   0   1 NaN   1   0  43
4   0   0   1 NaN   0   1
5   1  21   0   2 NaN   0
6  29   0   1   0  14 NaN

In [38]:
print a.to_string(na_rep='-')

    1   2  3   4   5   6
1   -  13  0   1  39   0
2   1   -  0  17   1   0
3   0   1  -   1   0  43
4   0   0  1   -   0   1
5   1  21  0   2   -   0
6  29   0  1   0  14   -