In [1]:
import numpy as np
import itertools
import pandas as pd
from textblob import TextBlob
import pickle
import nltk
from nltk.corpus import names
import re

In [6]:
with open("nameset", "rb") as f:
    familyset = pickle.load(f)

In [7]:
familyset

{'Albus Dumbledore',
 'Alicia Spinnet',
 'Angelina Johnson',
 'Argus Filch',
 'Arthur Weasley',
 'Blaise Zabini',
 'Charlie Weasley',
 'Cornelius Fudge',
 'Dean Thomas',
 'Dedalus Diggle',
 'Draco Malfoy',
 'Dudley Dursley',
 'Fred Weasley',
 'George Weasley',
 'Ginevra Weasley',
 'Godric Gryffindor',
 'Gregory Goyle Jr',
 'Gregory Goyle Sr',
 'Harry Potter',
 'Helena Ravenclaw',
 'Hermione Granger',
 'James Potter',
 'Katie Bell',
 'Lavender Brown',
 'Lee Jordan',
 'Lily Potter',
 'Lord Voldemort',
 'Madam Malkin',
 'Madam Rosmerta',
 'Marcus Flint',
 'Marjorie Dursley',
 'Minerva McGonagall',
 'Molly Weasley',
 'Neville Longbottom',
 'Nicolas Flamel',
 'Oliver Wood',
 'Parvati Patil',
 'Percy Weasley',
 'Peter Pettigrew',
 'Petunia Dursley',
 'Phineas Nigellus Black',
 'Regulus Arcturus Black',
 'Ronald Weasley',
 'Rubeus Hagrid',
 'Seamus Finnigan',
 'Severus Snape',
 'Sirius Black',
 'Vernon Dursley',
 'William Weasley'}

In [7]:
family = {}
for name in nick.keys():
    if 'Weasley' in name:
        family[name] = nick[name]
family

{'Arthur Weasley': ['Arthur', 'Weasley'],
 'Charlie Weasley': ['Charlie', 'Weasley'],
 'Fred Weasley': ['Fred', 'Weasley'],
 'George Weasley': ['George', 'Weasley'],
 'Ginevra Weasley': ['Ginevra', 'Weasley', 'Ginny'],
 'Molly Weasley': ['Molly', 'Weasley', 'Mrs Weasley'],
 'Percy Weasley': ['Percy', 'Weasley', 'Ignatius'],
 'Ronald Weasley': ['Ronald', 'Weasley', 'Ron'],
 'William Weasley': ['William', 'Weasley', 'Bill']}

In [8]:
freq = pd.DataFrame(np.zeros(shape=(len(family),1)),index = family.keys(), columns = ['freq'])

                 freq
Ginevra Weasley   0.0
Charlie Weasley   0.0
Percy Weasley     0.0
George Weasley    0.0
William Weasley   0.0
Arthur Weasley    0.0
Molly Weasley     0.0
Fred Weasley      0.0
Ronald Weasley    0.0

In [9]:
for name in freq.index:
    with open('sentences.txt', 'rb') as f:
        count = 0
        for line in f:
            for item in family[name]:
                if set(item.lower().split(' ')).intersection(re.findall(r"[\w']+", line.lower())) ==  set(item.lower().split(' ')):
                    count += 1
    freq.loc[name] = count

In [21]:
freq = freq.sort_values('freq')
freq

                  freq
Arthur Weasley    49.0
Molly Weasley     52.0
Ginevra Weasley   53.0
William Weasley   55.0
Charlie Weasley   69.0
George Weasley    78.0
Fred Weasley      82.0
Percy Weasley     87.0
Ronald Weasley   472.0

In [13]:
names = nltk.corpus.names
names.fileids()
male_names = names.words('male.txt')
female_names = names.words('female.txt')

In [24]:
male = 0
female = 0
for name in freq.index:
    if male == 1 and female == 1:
        break
    if name.split(' ')[0] in male_names and male == 0:
        male += 1
        father = name 
    if name.split(' ')[0] in female_names and female == 0:
        female += 1
        mother = name

In [28]:
familytree = pd.DataFrame(np.zeros(shape=(len(freq.index),7)),index = freq.index, columns = ['ped','id','father','mother','sex','affected','avail'])
familytree

                 ped   id  father  mother  sex  affected  avail
Arthur Weasley   0.0  0.0     0.0     0.0  0.0       0.0    0.0
Molly Weasley    0.0  0.0     0.0     0.0  0.0       0.0    0.0
Ginevra Weasley  0.0  0.0     0.0     0.0  0.0       0.0    0.0
William Weasley  0.0  0.0     0.0     0.0  0.0       0.0    0.0
Charlie Weasley  0.0  0.0     0.0     0.0  0.0       0.0    0.0
George Weasley   0.0  0.0     0.0     0.0  0.0       0.0    0.0
Fred Weasley     0.0  0.0     0.0     0.0  0.0       0.0    0.0
Percy Weasley    0.0  0.0     0.0     0.0  0.0       0.0    0.0
Ronald Weasley   0.0  0.0     0.0     0.0  0.0       0.0    0.0

In [29]:
for name in familytree.index:
    familytree.loc[name, 'ped'] = 1
    familytree.loc[name, 'id'] = name
    if name != father and name != mother:
        familytree.loc[name, 'father'] = father
        familytree.loc[name, 'mother'] = mother
    if name.split(' ')[0] in male_names:
        familytree.loc[name, 'sex'] = 1
    else:
        familytree.loc[name, 'sex'] = 2
familytree

,ped,id,father,mother,sex,affected,avail
Arthur Weasley,1.0,Arthur Weasley,0,0,1.0,0.0,0.0
Molly Weasley,1.0,Molly Weasley,0,0,2.0,0.0,0.0
Ginevra Weasley,1.0,Ginevra Weasley,Arthur Weasley,Molly Weasley,2.0,0.0,0.0
William Weasley,1.0,William Weasley,Arthur Weasley,Molly Weasley,1.0,0.0,0.0
Charlie Weasley,1.0,Charlie Weasley,Arthur Weasley,Molly Weasley,1.0,0.0,0.0
George Weasley,1.0,George Weasley,Arthur Weasley,Molly Weasley,1.0,0.0,0.0
Fred Weasley,1.0,Fred Weasley,Arthur Weasley,Molly Weasley,1.0,0.0,0.0
Percy Weasley,1.0,Percy Weasley,Arthur Weasley,Molly Weasley,1.0,0.0,0.0
Ronald Weasley,1.0,Ronald Weasley,Arthur Weasley,Molly Weasley,1.0,0.0,0.0

In [30]:
familytree.to_csv('familytree.csv', index=False)